---
import CheckInPage from "../components/CheckInPage.jsx";
import AuthLayout from "../layouts/AuthLayout.astro";
import Navigation from "../components/Navigation.jsx";
---

<AuthLayout title="Check-In - Youtharoot">
  <Navigation client:load />
  <main>
    <CheckInPage client:load />
  </main>
</AuthLayout>