---
import CheckInPage from "../components/CheckInPage.jsx";
import ClerkAuthLayout from "../layouts/ClerkAuthLayout.astro";
---

<ClerkAuthLayout title="Check-In - Youtharoot">
  <main>
    <CheckInPage client:load />
  </main>
</ClerkAuthLayout>