---
import EventList from "../components/EventList.jsx";
import AuthLayout from "../layouts/AuthLayout.astro";
import Navigation from "../components/Navigation.jsx";
---

<AuthLayout title="Events - Youtharoot">
  <Navigation client:load />
  <main>
    <EventList client:load />
  </main>
</AuthLayout>
