---
// Redirect old /login route to new /sign-in
---

<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="refresh" content="0; url=/sign-in" />
  <title>Redirecting...</title>
</head>
<body>
  <script>
    window.location.href = '/sign-in';
  </script>
</body>
</html>