---
import PersonList from "../components/PersonList.jsx";
import ClerkAuthLayout from "../layouts/ClerkAuthLayout.astro";
---

<ClerkAuthLayout title="People - Youtharoot">
  <main>
    <PersonList client:only="react" />
  </main>
</ClerkAuthLayout>