---
import PersonList from "../components/PersonList.jsx";
import AuthLayout from "../layouts/AuthLayout.astro";
import Navigation from "../components/Navigation.jsx";
---

<AuthLayout title="People - Youth Attendance">
  <Navigation client:load />
  <main>
    <PersonList client:load />
  </main>
</AuthLayout>